/* * {
  background-color: bisque;
} */

body {
  margin: 0 10rem;
  background-color: lightgray;
}

header {
  display: flex;
  height: 5rem;
  background-color: darkgray;
  justify-content: space-between;
  align-items: center;
}

#logo {
  margin: 0 2rem;
  font-size: 150%;
}

#navbar {
}

#links {
  display: flex;
  flex-direction: row;
}

#links li {
  margin: 0 2rem;
  list-style-type: none;
}

#links li:hover {
  text-decoration: underline;
}


#hero-image {
  height: 40rem;
  background-color:slategrey;

}