@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* * {
  background-color: bisque;
} */

body {
  /* margin: 0 10rem; */
  background-color: white;
}

main {
  background-color: #7d9d9c;
  height: 80rem;
}

footer {
  background-color: #eeeeee;
}

header {
  display: flex;
  margin: 0 8rem;
  height: 5rem;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 3px;
}

#links {
  display: flex;
  flex-direction: row;
}

#links li {
  margin-left: 4rem;
  padding: 8px 0;
  list-style-type: none;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

#links li:hover {
  /* text-decoration: underline; */
  /* border-bottom: #7D9D9C; */
  box-shadow: inset 0 -5px 0 0 #7d9d9c;
}

#hero-image {
  height: 40rem;
}
